{% extends "core/base.html" %}
{% load i18n %}

{% block tabs %}
{% if user.is_authenticated %}
<div class="tabs">
    <ul>
        {% url 'accounts:profile' as the_url %}
        <li {% if request.path == the_url %} class="is-active" {% endif %}>
            <a href="{{ the_url }}">{% trans 'Profile' %}</a>
        </li>

        {% url 'account_email' as the_url %}
        <li {% if request.path == the_url %} class="is-active" {% endif %}>
            <a href="{{ the_url }}">{% trans 'E-mail Addresses' %}</a>
        </li>

        {% url 'socialaccount_connections' as the_url %}
        <li {% if request.path == the_url %} class="is-active" {% endif %}>
            <a href="{{ the_url }}">{% trans 'Accounts' %}</a>
        </li>

        {% url 'account_change_password' as the_url %}
        <li {% if request.path == the_url %} class="is-active" {% endif %}>
            <a href="{{ the_url }}">{% trans 'Password' %}</a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock tabs %}

{% block page_content %}
<div class="columns is-mobile is-centered">
    <div class="column is-half-desktop is-two-thirds-tablet">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock page_content %}
